<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Аксиома</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" media="all" href="static/css/style.css">
  </head>
  <body><img class="working" src="./static/img/development.png">
    <div class="wrapper" id="application"></div>
    <script type="text/x-template" id="header">
      <div class="header-wrapper">
        <div class="header clearfix"><a class="header__logo-wrapper" href="index.html"><img class="header__logo" src="./static/img/logo.png" alt="" role="presentation"/></a>
          <div class="aside">
            <div class="info">
              <div class="info__part">
                <div class="info__item"><i class="icon-pin"></i>г. Астана, ул. А 98 1
                </div>
                <div class="info__item"><i class="icon-email"></i>info@axiomadom.kz
                </div>
              </div>
              <div class="info__part">
                <div class="info__item"><i class="icon-time"></i>Пн - Пт: 9.00 - 19.00
                </div>
                <div class="info__item"><i class="icon-time"></i>Сб - Вс: 10.00 - 17.00
                </div>
              </div>
              <div class="book clearfix">
                <div class="book__tel"><i class="icon-call"></i>+7 71 72 450 800
                </div><a class="book__callback">заказать звонок</a>
              </div>
            </div>
            <div class="aside__nav-wrapper"><a class="aside__toggle" @click.prevent="toggleActive = !toggleActive" :class="{&quot;is-active&quot;: toggleActive}"><i class="icon-menu-toggle"></i></a>
              <div class="aside__nav" :class="{&quot;is-active&quot;:toggleActive}"><a class="aside__link" href="about.html" v-if="getWidth &gt;= 1200 || toggleActive">О проекте</a><a class="aside__link is-active" href="plan.html" v-if="getWidth &gt;= 1200 || toggleActive">Выбрать квартиру</a><a class="aside__link" href="conditions.html" v-if="getWidth &gt;= 1200 || toggleActive">Условия приобретения </a><a class="aside__link" href="gallery.html" v-if="getWidth &gt;= 1200 || toggleActive">Галерея</a><a class="aside__link" href="contacts.html" v-if="getWidth &gt;= 1200 || toggleActive">Контакты</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="footer-component">
      <div class="footer clearfix container">
        <div class="contacts">
          <div class="contacts__contact"><span> <i class="icon-call"></i></span>+7 71 72 450 800
          </div>
          <div class="contacts__contact"><span> <i class="icon-pin"></i></span>г. Астана, ул. А 98 1
          </div>
          <div class="contacts__contact"><span> <i class="icon-email"></i></span>info@axiomadom.kz
          </div>
        </div>
        <div class="socials"><a class="socials__link" href="https://www.facebook.com/axioma.dom/?fref=ts" target="_blank"><i class="icon-f"></i></a><a class="socials__link" href="" target="_blank"><i class="icon-vk"></i></a><a class="socials__link" href="https://www.instagram.com/axioma.dom/" target="_blank"><i class="icon-insta"></i></a>
        </div>
        <div class="developers">
          <div class="developers__developers"> <span>Сайт разработан</span><a href="" target="_blank"><img class="icon-reactor" src="./static/img/reactor.png"></a>
          </div>
        </div>
      </div>
    </script>
    <script src="static/js/main.js"></script>
  </body>
</html>